<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OnlineInventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OnlineInventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <OnlineInventory.Properties.Settings>
      <setting name="ShopeeSecretKey" serializeAs="String">
        <value>d8c6555a69388b10ed98715a4c229563eb95a624b2f02969f5b361ea61e383e6</value>
      </setting>
      <setting name="ShopeeDomain" serializeAs="String">
        <value>https://partner.shopeemobile.com/api/v1</value>
      </setting>
      <setting name="ShopeePartnerId" serializeAs="String">
        <value>846217</value>
      </setting>
      <setting name="LazadaDomain" serializeAs="String">
        <value>https://api.lazada.vn/rest</value>
      </setting>
      <setting name="LazadaAppKey" serializeAs="String">
        <value>121575</value>
      </setting>
      <setting name="LazadaAppSecret" serializeAs="String">
        <value>eUJUo6ZANTcgbhvBWptubAsod8jVHAvd</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SendNotificationMail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailAddresses" serializeAs="String">
        <value>tho.tran@acfc.com.vn;thi.tran@acfc.com.vn;vu.nguyen@acfc.com.vn</value>
      </setting>
      <setting name="RunAsTimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseKeepOfflineFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMultiWarehouse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarehouseCode" serializeAs="String">
        <value>dropshipping</value>
      </setting>
      <setting name="ShopeeVariationSkuFormat" serializeAs="String">
        <value>(UPC)</value>
      </setting>
      <setting name="ShopeeVariationSkuSeparator" serializeAs="String">
        <value>_</value>
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value>rpc.acfc.com.vn</value>
      </setting>
      <setting name="ShopeeShopId" serializeAs="String">
        <value>314282599</value>
      </setting>
      <setting name="EnableShopee" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExcludedUPCs" serializeAs="String">
        <value>Online\LazI05_06092021.xlsx</value>
	    <!--<value>OnlineInventoryCOC\LazI05_06092021.xlsx</value>-->
      </setting>
      <setting name="EnableLazada" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PickupStore" serializeAs="String">
        <value>I05</value>
      </setting>
      <setting name="ReserveStock" serializeAs="String">
        <value>True</value>
      </setting>
    </OnlineInventory.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OnlineInventory.Properties.Settings>
      <setting name="SyncTime" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="LastSyncDateTime" serializeAs="String">
        <value />
      </setting>
      <setting name="LazadaAccessToken" serializeAs="String">
        <value>50000501408ck1huehTb1c85e0fe0tkYbCsgkUvjodOj2lyXCkzDsxbJr6P6IPS6</value>
      </setting>
      <setting name="LazadaRefreshToken" serializeAs="String">
        <value>50001500810d1Nfr8hnp4r11ea1784xbYaiWcKrg0ohZiixinzwhjmKgyoQDf6TA</value>
      </setting>
    </OnlineInventory.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>