<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="AuthenticationURL" value="https://login.microsoftonline.com/ab872c56-a5b0-452c-85fb-a87fa1350088/oauth2/token" />
    <add key="AuthenticationID" value="b5b1d89b-f5bb-415b-a978-27fc33e4fb2a" />
    <add key="AuthenticationSecret" value="v=aHCQiz=0vUiKWVmBolJl1*vj.jxd62" />
    <add key="AuthenticationResource" value="ea966d59-37ff-41e9-b44d-0d6ac2352591" />
    <add key="TokenType" value="Bearer" />
    <add key="APIURL" value="https://cogapimanagementuat01.azure-api.net/Licensee/v1/" />
    <add key="PrimarySubcriptionKey" value="fe355510237146f0bff8366a4f203662" />
    <add key="SecondarySubcriptionKey" value="46f21c773d714c7f84d0aeadda986d17" />
    <add key="Licensee" value="?licensee=0120" />
    <add key="SftpURL" value="SFTP.cottonon.com.au" />
    <add key="SftpID" value="acfc_user" />
    <add key="SftpSecret" value="4pS@I07t" />
    <add key="SftpPort" value="22" />
    <add key="SftpDownload" value="Outbound" />
    <add key="SftpUpload" value="Inbound/Acknowledgment" />
    <add key="ClientBackupFolder" value="Backup" />
    <add key="ClientDownloadFolder" value="Downloads" />
    <add key="ClientUploadFolder" value="Uploads" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SKUCombineCharacter" value="-"/>
    <add key="ServerIP" value="192.168.30.5"/>
    <add key="COGBrandList" value="'COC', 'TPO'"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>