<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthenticationURL" value="https://login.microsoftonline.com/ab872c56-a5b0-452c-85fb-a87fa1350088/oauth2/token" />
    <add key="AuthenticationID" value="b5b1d89b-f5bb-415b-a978-27fc33e4fb2a" />
    <add key="AuthenticationSecret" value="v=aHCQiz=0vUiKWVmBolJl1*vj.jxd62" />
    <add key="AuthenticationResource" value="ea966d59-37ff-41e9-b44d-0d6ac2352591" />
    <add key="TokenType" value="Bearer" />
    <add key="APIURL" value="https://cogapimanagementuat01.azure-api.net/Licensee/v1/" />
    <add key="PrimarySubcriptionKey" value="fe355510237146f0bff8366a4f203662" />
    <add key="SecondarySubcriptionKey" value="46f21c773d714c7f84d0aeadda986d17" />
    <add key="Licensee" value="?licensee=0120" />
    <add key="SftpURL" value="uat.cottonon.com.au" />
    <add key="SftpID" value="acfc_user" />
    <add key="SftpSecret" value="ab8Om02z" />
    <add key="SftpPort" value="22" />
    <add key="SftpDownload" value="Outbound" />
    <add key="SftpUpload" value="Inbound/Acknowledgment" />
    <add key="ClientBackupFolder" value="Backup" />
    <add key="ClientDownloadFolder" value="Downloads" />
    <add key="ClientUploadFolder" value="Uploads" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>